@import "tailwindcss";
@import "../styles/utils.css";
@import "@daveyplate/better-auth-ui/css";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-brand: var(--brand);
  --color-brand-foreground: var(--brand-foreground);
  --color-light: var(--light);
  --color-light-foreground: var(--light-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-ibm-plex-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);

  --spacing-container: 1280px;
  --spacing-container-lg: 1536px;

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-mockup: -12px 16px 48px var(--shadow-strong);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-appear: appear 0.6s forwards ease-out;
  --animate-appear-zoom: appear-zoom 0.6s forwards ease-out;



  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes fadeInFast {
    "0%": {
      opacity: 0;
      transform: translateY(10px);
    }

    "100%": {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(1rem);
      filter: blur(0.5rem);
    }

    50% {
      filter: blur(0);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }

  @keyframes appear-zoom {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;

  --color-color-5: var(--color-5);
  --color-color-4: var(--color-4);
  --color-color-3: var(--color-3);
  --color-color-2: var(--color-2);
  --color-color-1: var(--color-1);

  @keyframes rainbow {
    0% {
      background-position: 0%;
    }

    100% {
      background-position: 200%;
    }
  }

  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }

    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }

    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }

    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }

    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }

  --animate-line-shadow: line-shadow 15s linear infinite;

  @keyframes line-shadow {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 100% -100%;
    }
  }
}

:root {
  --brand: oklch(66.5% 0.1804 47.04);
  --brand-foreground: oklch(75.77% 0.159 55.91);
  --background: oklch(0.9529 0.0146 102.4597);
  --foreground: oklch(0.4063 0.0255 40.3627);
  --card: oklch(0.9529 0.0146 102.4597);
  --card-foreground: oklch(0.4063 0.0255 40.3627);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.4063 0.0255 40.3627);
  --primary: oklch(0.6083 0.0623 44.3588);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.7473 0.0387 80.5476);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.8502 0.0389 49.0874);
  --muted-foreground: oklch(0.5416 0.0512 37.2132);
  --accent: oklch(0.8502 0.0389 49.0874);
  --accent-foreground: oklch(0.4063 0.0255 40.3627);
  --destructive: oklch(0.2225 0.0098 52.9636);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.7473 0.0387 80.5476);
  --input: oklch(0.7473 0.0387 80.5476);
  --ring: oklch(0.6083 0.0623 44.3588);
  --chart-1: oklch(0.6083 0.0623 44.3588);
  --chart-2: oklch(0.5416 0.0512 37.2132);
  --chart-3: oklch(0.7272 0.0539 52.332);
  --chart-4: oklch(0.7473 0.0387 80.5476);
  --chart-5: oklch(0.644 0.0405 52.3917);
  --sidebar: oklch(0.8903 0.0278 49.5658);
  --sidebar-foreground: oklch(0.4063 0.0255 40.3627);
  --sidebar-primary: oklch(0.6083 0.0623 44.3588);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.7272 0.0539 52.332);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.644 0.0405 52.3917);
  --sidebar-ring: oklch(0.6083 0.0623 44.3588);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-sm:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow-md:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 2px 4px -1px hsl(20 18% 51% / 0.11);
  --shadow-lg:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 4px 6px -1px hsl(20 18% 51% / 0.11);
  --shadow-xl:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 8px 10px -1px hsl(20 18% 51% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.28);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --light: var(--brand);
  --light-foreground: var(--brand-foreground);
  --shadow-strong: #00000008;
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}

.dark {
  --background: oklch(0.2161 0.0061 56.0434);
  --foreground: oklch(0.9299 0.0334 272.7879);
  --card: oklch(0.2805 0.0309 307.2326);
  --card-foreground: oklch(0.9299 0.0334 272.7879);
  --popover: oklch(0.2805 0.0309 307.2326);
  --popover-foreground: oklch(0.9299 0.0334 272.7879);
  --primary: oklch(0.7874 0.1179 295.7538);
  --primary-foreground: oklch(0.2161 0.0061 56.0434);
  --secondary: oklch(0.3416 0.0444 308.8496);
  --secondary-foreground: oklch(0.8717 0.0093 258.3382);
  --muted: oklch(0.2283 0.0375 302.9006);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.3858 0.0509 304.6383);
  --accent-foreground: oklch(0.8717 0.0093 258.3382);
  --destructive: oklch(0.8077 0.1035 19.5706);
  --destructive-foreground: oklch(0.2161 0.0061 56.0434);
  --border: oklch(0.3416 0.0444 308.8496);
  --input: oklch(0.3416 0.0444 308.8496);
  --ring: oklch(0.7874 0.1179 295.7538);
  --chart-1: oklch(0.7874 0.1179 295.7538);
  --chart-2: oklch(0.7090 0.1592 293.5412);
  --chart-3: oklch(0.6056 0.2189 292.7172);
  --chart-4: oklch(0.5413 0.2466 293.0090);
  --chart-5: oklch(0.4907 0.2412 292.5809);
  --sidebar: oklch(0.3416 0.0444 308.8496);
  --sidebar-foreground: oklch(0.9299 0.0334 272.7879);
  --sidebar-primary: oklch(0.7874 0.1179 295.7538);
  --sidebar-primary-foreground: oklch(0.2161 0.0061 56.0434);
  --sidebar-accent: oklch(0.3858 0.0509 304.6383);
  --sidebar-accent-foreground: oklch(0.8717 0.0093 258.3382);
  --sidebar-border: oklch(0.3416 0.0444 308.8496);
  --sidebar-ring: oklch(0.7874 0.1179 295.7538);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.5rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 16px;
  --shadow-spread: -4px;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.20);
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@layer utilities {
  .font-breakfast {
    font-family: var(--font-breakfast);
  }

  .font-indie-flower {
    font-family: var(--font-indie-flower);
  }

  .font-gaegu {
    font-family: var(--font-gaegu);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}